.App {
  display: flex;
  text-align: center;
  align-items: center;
  width: 80vw;
  margin: 0px auto;
  flex-direction: column;
}

.ImageCanvas{
  display: block;
  max-width: 90%;
  height: auto;
}